.videoContainer {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(20, 40, 50, 1);
	text-align: center;
}

.vPlayer {
	height: 400px;
}

.videoCaption {
	position: absolute;
	top: 10px;
	background: rgba(20, 40, 50, 0.3);
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
	padding: 5px;
	width: 100%;
}

.inputContainer {
	width: 600px;
	margin: 430px auto 20 auto;
}

.captionInput {
	width: 300px;
}

.caption {
	display: flex;
	justify-content: space-between;
}

.caption h5 {
	width: 100%;
}

.control {
	width: 100px;
}
