.upperContainer {
  width: 102%;
  right: 10px;
  bottom: 15px;
  text-align: center;
  position: relative;
}

.last {
  width: 50%;
  height: 100%;
  position: relative;
}

.lowerContainer {
  width: 600px;
  margin: 0 auto;
}

.captionInput {
  width: 48%;
}

.canvas {
	top: 0;
	z-index: 2;
	text-align: center;
	position: absolute;
}

input {
  display: inline-block;
}

body {
  background: lightblue;
}
