h1 {
  margin: 10px;
}
.inputArea {
  margin: 10px;
}
.textInput {
  width: 100%;
}
.todoList {
  width: 400px;
  border: 1px solid rgba(0, 0, 255, 1);
  margin: auto;
}
.todoItem {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background: rgba(200, 200, 200, 1);
  margin-top: 10px;
}
.todoContent {
  width: 100%;
}
.createdAt {
  color: rgba(0, 20, 100, 1);
  font-size: 12px;
}
.todoContent.completed {
  text-decoration: line-through;
}
